src/main/app/proc-merrillcorp-invoice/subscribeevents.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:microsoftservicebus="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/microsoftservicebus http://www.mulesoft.org/schema/mule/microsoftservicebus/current/mule-microsoftservicebus.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="subscribeMerrillInvoiceEvent" processingStrategy="synchronous">
        <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" sourceQueue="${queue.merrillinvoiceevent}" doc:name="Microsoft Service Bus (Streaming)"/>
        <logger message="Initial Payload: #[payload]" level="DEBUG" doc:name="[DEBUG]Log Initial Payload" category="com.merrillcorp.invoiceEvent"/>
        <flow-ref name="extractServiceBusBody" doc:name="extractServiceBusBody"/>
        <flow-ref name="processMerrillInvoiceEvent" doc:name="processMerrillInvoiceEvent"/>

    </flow>
    <flow name="subscribeAriaEventRetry" processingStrategy="synchronous"> 
        <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" sourceQueue="${queue.ariaeventretry}" doc:name="Microsoft Service Bus (Streaming)"/> 
        <logger message="***Subscribe Aria Event Retry Start: #[payload]" level="DEBUG" category="com.merrillcorp.eventRetry" doc:name="Logger Initial Payload"/> 
        <flow-ref name="extractServiceBusBody" doc:name="extractServiceBusBody"/>

        <logger message="***Aria Event Retry Body: #[message.payloadAs(java.lang.String)]" level="DEBUG" category="com.merrillcorp.eventRetry" doc:name="Log Aria Event Body"/>
        <flow-ref name="processAriaEventRetry" doc:name="processAriaEventRetry"/>

 
    </flow>     
</mule>
