src/main/app/html-process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:microsoftservicebus="http://www.mulesoft.org/schema/mule/microsoftservicebus"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/microsoftservicebus http://www.mulesoft.org/schema/mule/microsoftservicebus/current/mule-microsoftservicebus.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">


    <flow name="CreateTriggerToSendPdfOfStatementToOracle" processingStrategy="synchronous"> 
        <logger message="Success response message for Invoice Event Received" level="INFO" category="com.merrillcorp.html" doc:name="Invoice"/> 
        <set-payload value="#[{acct_no=flowVars.event.account.accountNumber, invoice_no=flowVars.originalInvoiceNumber, eventId=flowVars.event.eventId, trans_no=flowVars.originalInvoiceNumber}]" doc:name="Set Payload"/>
        <flow-ref name="publishOracleInvoicePdf" doc:name="publishOracleInvoicePdf"/>
 
    </flow> 
    <flow name="CMTriggerToSendPdfToOracle" processingStrategy="synchronous"> 
        <logger message="Success response message for Credit Memo Event Received" level="INFO" category="com.merrillcorp.html" doc:name="Credit Memo"/> 
        <set-payload value="#[{acct_no=flowVars.cmEvent.account.accountNumber, invoice_no=flowVars.ariaCreditMemoDetails.originalInvoiceNumber, eventId=flowVars.cmEvent.eventId, trans_no=flowVars.originalCMNumber}]" doc:name="Set Payload"/>
        <flow-ref name="publishOracleInvoicePdf" doc:name="publishOracleInvoicePdf"/>
 
    </flow> 
    <flow name="VoidInvTriggerToSendPdfToOracle" processingStrategy="synchronous"> 
        <logger message="Success response message for Void Invoice Event Received" level="INFO" category="com.merrillcorp.html" doc:name="Void Invoice"/> 
        <set-payload value="#[{acct_no=flowVars.voidEvent.account.accountNumber, invoice_no=flowVars.originalVoidNumber, eventId=flowVars.voidEvent.eventId, trans_no=flowVars.originalVoidNumber}]" doc:name="Set Payload"/>
        <flow-ref name="publishOracleInvoicePdf" doc:name="publishOracleInvoicePdf"/>
 
    </flow> 
    <flow name="VoidCMTriggerToSendPdfToOracle" processingStrategy="synchronous"> 
        <logger message="Success response message for Void Credit Memo Event Received" level="INFO" category="com.merrillcorp.html" doc:name="Void Credit Memo"/> 
        <set-payload value="#[{acct_no=flowVars.cmEvent.account.accountNumber, invoice_no=flowVars.ariaCreditMemoDetails.originalInvoiceNumber, eventId=flowVars.cmEvent.eventId, trans_no=flowVars.originalCMNumber}]" doc:name="Set Payload"/>
        <flow-ref name="publishOracleInvoicePdf" doc:name="publishOracleInvoicePdf"/>
 
    </flow>
    <flow name="publishOracleInvoicePdf" processingStrategy="synchronous">
        <logger message="Sending Payload to queue" level="DEBUG" category="com.merrillcorp.pdf" doc:name="Logger"/>
        <microsoftservicebus:queue-send config-ref="Microsoft_Service_Bus__Azure_Service_Bus" destinationQueue="${queue.oracleinvoicepdf}" doc:name="Microsoft Service Bus"/>
    </flow> 
    
       <flow name="subscribeOracleInvoicePdf" processingStrategy="synchronous" >
        <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" sourceQueue="${queue.oracleinvoicepdf}" doc:name="Microsoft Service Bus (Streaming)"/>

      <logger message="Initial Payload received from queue: #[payload]" level="DEBUG" category="com.merrillcorp.pdf" doc:name="[DEGUB] Logger" />
        <flow-ref name="subscribeoracleinvoicepdfFlow" doc:name="subscribeoracleinvoicepdfFlow"/>


   </flow>
   <flow name="subscribeoracleinvoicepdfFlow" processingStrategy="synchronous">
        <set-variable variableName="account_no" value="#[payload.body[0]]" doc:name="account_no"/>
        <set-variable variableName="invoice_no" value="#[payload.body[1]]" doc:name="invoice_no"/>
        <set-variable variableName="eventId" value="#[payload.body[2]]" doc:name="eventId"/>
        <set-variable variableName="trans_no" value="#[payload.body[3]]" doc:name="trans_no"/>

      <flow-ref name="generateHtmlAndSend_FLOW" doc:name="generateHtmlAndSend_FLOW" />
   </flow>
</mule>
