src/main/app/invoice-creation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <vm:connector name="pdfToOracle" validateConnections="true" doc:name="VM">
        <vm:queue-profile>
            <default-persistent-queue-store/>
        </vm:queue-profile>
    </vm:connector>
 

 
    <flow name="invoice-creation_Flow" processingStrategy="synchronous">
        <logger message="Start invoice-creation_Flow" level="DEBUG" doc:name="Logger" category="com.merrillcorp.invoice"/>
        <flow-ref name="Extract_Event_Flow" doc:name="Extract_Event_Flow"/>


        <flow-ref name="GetDetailsDataFromAria_Flow" doc:name="GetDetailsDataFromAria_Flow"/>

         <set-payload value="#[flowVars.ariaAccountDetails.sfdcProjectId]" doc:name="Set Payload"/>
         <flow-ref name="sf_getSplitBilling" doc:name="sf_getSplitBilling"/>

        <flow-ref name="CreateInvoiceInOracle_Flow" doc:name="CreateInvoiceInOracle_Flow"/>

 

    </flow>


    <flow name="GetDetailsDataFromAria_Flow">
        <scatter-gather doc:name="Scatter-Gather">
            <custom-aggregation-strategy class="com.merrillcorp.integration.scatter.CustomAggregationStrategy"/>
            <flow-ref name="getAccountDetails_Flow" doc:name="getAccountDetails_Flow"/>
            <processor-chain>
                <flow-ref name="getInvoiceDetails_Flow" doc:name="getInvoiceDetails_Flow"/>
                <flow-ref name="getAccountContacts_Flow" doc:name="getAccountContacts_Flow"/>
            </processor-chain>
        </scatter-gather>
    </flow>
    <flow name="Void_Invoice_Flow" processingStrategy="synchronous">
        <logger message="Start VOID_INVOICE " level="INFO" doc:name="Logger" category="com.merrillcorp.voidInvoice"/>
        <flow-ref name="Extract_Void_Event_Flow" doc:name="Extract_Void_Event_Flow"/>

        <flow-ref name="Void_Invoice_In_Oracle_Flow" doc:name="Void_Invoice_In_Oracle_Flow"/>
    </flow>
</mule>
