src/main/app/pdf-process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:microsoftservicebus="http://www.mulesoft.org/schema/mule/microsoftservicebus"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/microsoftservicebus http://www.mulesoft.org/schema/mule/microsoftservicebus/current/mule-microsoftservicebus.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
   <flow name="HTML_TO_PDF" processingStrategy="synchronous">
      <logger message="Intial Payload: #[payload]" level="DEBUG" category="com.merrillcorp.html" doc:name="Log Intial Payload" />
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <set-variable variableName="origPayload" value="#[payload]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	htmlbody: "$(flowVars.origPayload)",
	invoice_no: flowVars.transactionNumber
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>

        <microsoftservicebus:queue-send config-ref="Microsoft_Service_Bus__Azure_Service_Bus" destinationQueue="${queue.publishhtml}" doc:name="Microsoft Service Bus"/>


   </flow>

      <flow name="subscribebase64Flow" processingStrategy="synchronous">
      <microsoftservicebus:queue-receive config-ref="Microsoft_Service_Bus__Azure_Service_Bus" sourceQueue="${queue.storefinalinvoice}" doc:name="Microsoft Service Bus (Streaming)" />
      <logger level="DEBUG" doc:name="Logger" category="com.merrillcorp.pdf" message="Received PDF: #[message.payloadAs(java.lang.String)]"/>
        <flow-ref name="STORE_FINAL_INVOICE" doc:name="STORE_FINAL_INVOICE"/>


   </flow>

</mule>
