src/main/app/healthCheck/health_check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="GET_Health_SalesForce">
        <sfdc:query config-ref="HC_Salesforce__Basic_Authentication" query="SELECT Status__c FROM Work_Order__c LIMIT 1" doc:name="Salesforce"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger message="#[message.payload.hasNext() ? message.payload.next() : null]" level="DEBUG" doc:name="[DEBUG] Log Payload" category="com.merrillcorp.healthCheck"/>
        <flow-ref name="SET_HTTP_Response" doc:name="SET_HTTP_Response"/>
    </flow>
    <flow name="GET_Health_Aria">
        <set-payload value="&lt;?xml version='1.0' encoding='UTF-8'?&gt;&lt;soap:Envelope xmlns:soap=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&lt;soap:Header/&gt;&lt;soap:Body&gt;&lt;lit:get_acct_details_all_m xmlns:lit=&quot;urn:client:api:wsdl:document/literal_wrapped:vers:11.0:aria_complete_m_api&quot;&gt;&lt;client_no&gt;6000228&lt;/client_no&gt;&lt;auth_key&gt;R3WSkfamtH9bMUrACMtm7FAtx7u8vYFy&lt;/auth_key&gt;&lt;acct_no&gt;1607778&lt;/acct_no&gt;&lt;include_master_plans&gt;1&lt;/include_master_plans&gt;&lt;include_supp_plans&gt;1&lt;/include_supp_plans&gt;&lt;/lit:get_acct_details_all_m&gt;&lt;/soap:Body&gt;&lt;/soap:Envelope&gt;" doc:name="Set_Testing_Payload"/>
        <http:request config-ref="HC_HTTP_Request_Configuration_to_Aria" path="${hc.aria.path}" method="POST" doc:name="GET_Acct_Details_Aria">
            <http:request-builder>
                <http:header headerName="SOAPAction" value="&quot;get_acct_details_all_m&quot;"/>
                <http:header headerName="content-type" value="application/xml"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer  doc:name="Byte Array to Object"/>
        <logger message="#[payload]" level="DEBUG" doc:name="[DEBUG] Log Payload" category="com.merrillcorp.healthCheck"/>
        <flow-ref name="SET_HTTP_Response" doc:name="SET_HTTP_Response"/>
    </flow>
    <flow name="SET_HTTP_Response">
        <choice doc:name="Choice">
            <when expression="#[message.exception != null]">
                <set-payload value="{&quot;Status&quot;: &quot;Failure&quot;}" doc:name="SET_Error_Payload"/>
                <set-property propertyName="http.status" value="500" doc:name="SET_Error_Status"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;Status&quot;: &quot;OK&quot;}" doc:name="SET_Success_Payload"/>
                <set-property propertyName="http.status" value="200" doc:name="SET_Success_Status"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="GET_DSOAuth">
        <dw:transform-message doc:name="CREATE_DSOAuth_Payload">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	password: p("hc.dso.password"),
	username: p("hc.dso.username"),
	client_id: p("hc.dso.clientId"),
	client_secret: p("hc.dso.clientSecret"),
	grant_type : p("hc.dso.grantType")
	
}]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HC_DSO_Auth_Request_Configuration" path="${hc.dso.auth.path}" method="POST" doc:name="Dso_GetToken">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/x-www-form-urlencoded"/>
            </http:request-builder>
        </http:request>
        <logger message=" In getDSOAuth_Sub_Flow after Dso_GetToken *** Payload *** #[message.payloadAs(java.lang.String)] " level="DEBUG" doc:name="[DEBUG] Log Payload" category="com.merrillcorp.healthCheck"/>
        <dw:transform-message doc:name="TRANSFORM_Response_to_Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="dsoToken" value="#[payload['access_token']]" doc:name="SET_Access_Token_Variable"/>
        <logger message="End of GET_DSOAuth" level="DEBUG" category="com.merrillcorp.healthCheck" doc:name="[DEBUG] Log Payload"/>
    </flow>
    <flow name="GET_Health_Oracle">
        <logger message="Start GET_Health_Oracle" level="DEBUG" doc:name="[DEBUG] Received Oracle Auth" category="com.merrillcorp.healthCheck"/>
        <http:request config-ref="oracleSysHttpRequestConfiguration" path="${hc.oracle.salesrepids.path}" method="GET" doc:name="GET_Oracle_SalesRep_Ids">
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="DEBUG" doc:name="[DEBUG] Log Response From Oracle" category="com.merrillcorp.healthCheck"/>
    </flow>
    <flow name="GET_Health_DSO">
        <flow-ref name="GET_DSOAuth" doc:name="GET_DSOAuth"/>
        <logger message="Received DSO Auth" level="DEBUG" doc:name="[DEBUG] Received DSO Auth" category="com.merrillcorp.healthCheck"/>
        <set-variable variableName="currentDate" value="#[server.dateTime.plusDays(-1).format(&quot;MM-dd-yyyy&quot;)]" doc:name="Variable"/>
		<http:request config-ref="HC_DSO_API_HTTP_Request_Configuration" path="${hc.dso.api.project.path}" method="GET" doc:name="Dso_GetProject">
            <http:request-builder>
                <http:query-param paramName="billingDay" value="#[flowVars.currentDate]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.dsoToken]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger message="#[payload]" level="DEBUG" doc:name="[DEBUG] Log Response" category="com.merrillcorp.healthCheck"/>
        <flow-ref name="SET_HTTP_Response" doc:name="SET_HTTP_Response"/>
    </flow>
</mule>